@charset "UTF-8";
/* line 2, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#top {
  text-align: center;
}

/* line 5, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.top-image {
  background-image: url("/ノートブック.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* line 11, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#top-image-mask {
  height: 100%;
}

/* line 15, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.top-image-adjaster {
  width: 50%;
  height: 100%;
  padding: 100px;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  　align-content: space-around;
}

/* line 27, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#first-container {
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 37, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#index1-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 250px;
  margin: 0 auto;
  color: #1CA1F2;
}

/* line 45, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#index1-title h2 {
  border-bottom: double 6px  #1CA1F2;
}

/* line 48, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#search-prof-container {
  border: 2px solid  #1CA1F2;
  width: 700px;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 50px;
  margin: 0 auto 50px auto;
}

/* line 56, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#search-botton-2-adjuster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

/* line 63, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-box-2 {
  padding: 5px 10px;
  margin: 0 auto;
  outline: 0;
  border: double 6px #1CA1F2;
  border-radius: 20px;
}

/* line 70, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-2 {
  border: double 6px #1CA1F2;
  border-radius: 40px;
  padding: 5px 20px;
  color: #1CA1F2;
}

/* line 76, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-2:focus {
  outline: 0;
}

/* line 79, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-2:hover {
  text-decoration: none;
  color: white;
  background-color: #1CA1F2;
  border: double 6px white;
}

/* line 86, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#main-logo {
  width: 400px;
  margin: 50px auto 150px auto;
}

/* line 90, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#to-container {
  width: 400px;
  margin: 0 auto 100px auto;
}

/* line 95, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#prof-search {
  display: block;
  font-size: 25px;
  color: #1CA1F2;
  padding: 10px 70px;
  margin: 0px 15px 30px 15px;
  border: double 6px #1CA1F2;
  border-radius: 3px;
  transition: .2s;
}

/* line 105, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#prof-search:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: #1CA1F2;
  color: white;
  border: double 6px white;
}

/* line 112, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#prof-search:focus {
  outline: 0;
}

/* line 115, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#lecture-search {
  display: block;
  font-size: 25px;
  margin: 20px 15px;
  padding: 10px 70px;
  color: #9acd32;
  border: double 6px #9acd32;
  border-radius: 3px;
  transition: .2s;
}

/* line 125, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#lecture-search:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: #9acd32;
  color: white;
  border: double 6px white;
}

/* line 132, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#lecture-search:focus {
  outline: 0;
}

/* line 136, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#second-container {
  position: absolute;
  z-index: 4;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 146, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#search-lecture-container {
  border: 2px solid  #9acd32;
  width: 700px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto 50px auto;
}

/* line 154, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#index2-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 250px;
  margin: 0 auto;
  color: #9acd32;
}

/* line 162, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#index2-title h2 {
  border-bottom: double 6px  #9acd32;
}

/* line 165, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-box-3 {
  padding: 5px 10px;
  margin: 0 auto;
  outline: 0;
  border: double 6px #9acd32;
  border-radius: 20px;
}

/* line 172, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-3 {
  border: double 6px #9acd32;
  border-radius: 40px;
  padding: 5px 20px;
  color: #9acd32;
}

/* line 178, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-3:focus {
  outline: 0;
}

/* line 181, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
.search-button-3:hover {
  text-decoration: none;
  color: white;
  background-color: #9acd32;
  border: double 6px white;
}

/* line 188, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/home.css.scss */
#search-botton-3-adjuster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
