@charset "UTF-8";
/* line 1, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
#index-lecture {
  background-image: url("/授業背景.jpg");
  background-size: cover;
  width: 100%;
}

/* line 7, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
#lecturetitle {
  margin: 0 auto;
  padding-top: 40px;
  width: 140px;
  color: white;
  border-bottom: double 6px #9acd32;
  text-align: center;
}

/* line 15, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.addlectures {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 25, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.search-prof {
  margin-left: 30px;
}

/* line 28, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.search-box {
  padding: 5px 10px;
  outline: 0;
  border: double 6px #9acd32;
  border-radius: 20px;
}

/* line 34, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.search-button {
  border: double 6px #9acd32;
  border-radius: 40px;
  padding: 5px 20px;
  color: #9acd32;
}

/* line 40, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.search-button:focus {
  outline: 0;
}

/* line 43, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.search-button:hover {
  text-decoration: none;
  color: white;
  background-color: #9acd32;
  border: double 6px white;
}

/* line 50, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.addlecture-container {
  margin-bottom: 30px;
}

/* line 55, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.addlecture {
  color: #9acd32;
  padding: 5px 20px;
  background-color: white;
  border: 6px double #9acd32;
  border-radius: 20px;
}

/* line 62, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.addlecture:hover {
  text-decoration: none;
  color: white;
  background-color: #9acd32;
  border: double 6px white;
}

/* line 70, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.lecture-index-container {
  margin: 0 auto;
  padding: 10px 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 79, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.lecture-card {
  margin: 10px 0;
}

/* line 83, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.card-body h4 {
  border-bottom: 1px solid black;
  line-height: 150%;
}

/* line 87, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.card-body p {
  padding: 5px 0;
}

/* line 91, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.lecture-info {
  text-decoration: none;
  color: #9acd32;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #9acd32;
  border-radius: 40px;
}

/* line 100, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/lectures/lecture_index.css.scss */
.lecture-info:hover {
  text-decoration: none;
  background-color: #9acd32;
  color: white;
}
