@charset "UTF-8";
/* line 1, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
#post-prof {
  background-image: url("/教員背景.jpg");
  background-size: cover;
  width: 100%;
}

/* line 6, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
#post-prof-mask {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 13, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.post-prof-container {
  margin: 0 auto;
  width: 720px;
  border: 4px solid #1CA1F2;
  padding: 40px 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px 2px gray;
}

/* line 23, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.post-prof-container h5 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* line 28, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-name {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 4px solid #1CA1F2;
}

/* line 35, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-name:focus {
  outline: 0;
}

/* line 38, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
#professor_department {
  display: block;
  outline: 0;
}

/* line 43, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-info {
  display: block;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  border: 4px solid #1CA1F2;
}

/* line 50, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-info:focus {
  outline: 0;
}

/* line 53, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
#prof-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 58, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-submit {
  border: 2px solid #1CA1F2;
  border-radius: 40px;
  padding: 10px 40px;
  margin-top: 20px;
  font-weight: bold;
}

/* line 66, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-submit:focus {
  outline: 0;
}

/* line 69, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.prof-submit:hover {
  background-color: #1CA1F2;
  color: white;
}

/* line 74, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.toProfindex {
  text-decoration: none;
  color: black;
  margin-right: 220px;
}

/* line 79, /Users/ryota/Desktop/ynureview/app/assets/stylesheets/professors/professors_new.css.scss */
.toProfindex:hover {
  text-decoration: none;
}
