@charset "UTF-8";
/* line 1, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
#reveiwPagelec {
  background-image: url("/leaf4.jpg");
  background-size: cover;
  width: 100%;
}

/* line 7, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
#reviewPagelec-mask {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 13, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ratelec-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 40px 70px;
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.3);
  margin: 20px auto 50px auto;
  width: 80%;
  position: relative;
}

/* line 22, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.lec-search-parts4 {
  text-align: center;
  max-width: 90vh;
}

/* line 27, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.pankuzu4 {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 50px;
  width: 100%;
}

/* line 38, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.pankuzu4 a {
  color: black;
}

/* line 42, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.pankuzu4 a:hover {
  text-decoration: none;
  color: green;
}

/* line 46, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.middle-pan4 {
  position: relative;
  margin-left: 30px;
}

/* line 50, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.middle-pan4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  position: absolute;
  top: 0px;
  left: -20px;
  font-weight: 900;
  color: black;
}

/* line 59, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.basic-lec-info {
  border-bottom: 2px solid black;
  margin: 20px auto 10px auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* line 68, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ribbon-posi {
  position: absolute;
  top: 0px;
  right: 80px;
}

/* line 73, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.assess-adjuster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

/* line 81, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.assess-mini-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 165px;
  margin: 0 auto;
}

/* line 89, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-right: 20px;
}

/* line 96, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.rating input[type='radio'] {
  display: none;
}

/* line 100, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.rating label {
  position: relative;
  padding: 9px 8px 8px 8px;
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

/* line 108, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.rating label .text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 8px;
  color: gray;
}

/* line 118, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.rating label:hover,
.rating label:hover ~ label,
.rating input[type='radio']:checked ~ label {
  color: #ffcc00;
}

/* line 124, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 0 10px 0;
  margin: 0  auto;
  border-bottom: 1px dashed black;
}

/* line 134, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten5 {
  position: relative;
}

/* line 137, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten5:before {
  position: absolute;
  content: '非常に満足';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 146, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten6 {
  position: relative;
}

/* line 149, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten6:before {
  position: absolute;
  content: '深く学べる';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 158, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten7 {
  position: relative;
}

/* line 161, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten7:before {
  position: absolute;
  content: '超楽単';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 170, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten8 {
  position: relative;
}

/* line 173, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten8:before {
  position: absolute;
  content: '超退屈';
  top: 40px;
  right: -9px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 182, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one5 {
  position: relative;
}

/* line 185, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one5:before {
  position: absolute;
  content: '非常に不満';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 194, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one6 {
  position: relative;
}

/* line 197, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one6:before {
  position: absolute;
  content: '全く学べない';
  top: 40px;
  right: -15px;
  width: 6em;
  font-size: 0.4em;
  color: gray;
}

/* line 206, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one7 {
  position: relative;
}

/* line 209, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one7:before {
  position: absolute;
  content: '超キツイ';
  top: 40px;
  right: -9px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 218, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one8 {
  position: relative;
}

/* line 221, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one8:before {
  position: absolute;
  content: '忙しい';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 230, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one9 {
  position: relative;
}

/* line 233, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.one9:before {
  position: absolute;
  content: '超簡単';
  top: 40px;
  right: -10px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 242, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten9 {
  position: relative;
}

/* line 245, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ten9:before {
  position: absolute;
  content: '激ムズ';
  top: 40px;
  right: -9px;
  width: 5em;
  font-size: 0.4em;
  color: gray;
}

/* line 254, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagain2 {
  margin: 30px auto 10px auto;
  text-align: center;
}

/* line 258, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* line 266, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 input[type='radio'] {
  display: none;
}

/* line 269, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 label {
  border: 1px solid #b7aa00;
  padding: 5px 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

/* line 275, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  color: white;
  border: 1px dashed black;
  cursor: pointer;
}

/* line 282, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 285, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.againagainagain2 input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  color: white;
  font-weight: bold;
  border: 1px solid black;
}

/* line 291, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ratelecsubmit-container {
  display: flex;
  flex-direction: row-reverse;
}

/* line 295, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ratelecsubmit {
  border-style: none;
  padding: 10px 20px;
  border: 1px double  black;
  border-radius: 10px;
  margin-right: 60px;
}

/* line 302, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ratelecsubmit:focus {
  outline: 0;
}

/* line 305, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ratelecsubmit:hover {
  background-color: #b7aa00;
  color: white;
  cursor: pointer;
}

/* line 311, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-a {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto 0 auto;
  border-bottom: 1px dashed black;
}

/* line 319, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-b {
  display: flex;
  flex-direction: row;
  width: 90%;
}

/* line 325, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c {
  margin: 0 40px;
}

/* line 328, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox'] {
  display: none;
}

/* line 331, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts {
  background: #ff555e;
  color: #fff;
  border: 1px solid #ff555e;
}

/* line 336, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts-easy {
  background: #1CA1F2;
  color: #fff;
  border: 1px solid #1CA1F2;
}

/* line 341, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts {
  position: relative;
  padding: 15px 20px 15px 53px;
  transition: .3s;
  color: #444;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}

/* line 352, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts-easy {
  position: relative;
  padding: 15px 20px 15px 53px;
  transition: .3s;
  color: #444;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}

/* line 364, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts::before {
  border: 1px solid #ff555e;
}

/* line 367, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts-easy::before {
  border: 1px solid #1CA1F2;
}

/* line 370, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts::before {
  content: "";
  display: block;
  left: 9px;
  top: 14px;
  width: 35px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
}

/* line 382, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts-easy::before {
  content: "";
  display: block;
  left: 9px;
  top: 14px;
  width: 35px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
}

/* line 394, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts::after {
  left: 26px;
  background: #ff555e;
}

/* line 398, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisfaction-c input[type='checkbox']:checked + .satisparts-easy::after {
  left: 26px;
  background: #1CA1F2;
}

/* line 402, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts::after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #aaa;
  border-radius: 50%;
  transition: .2s;
  display: block;
}

/* line 415, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.satisparts-easy::after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 12px;
  width: 16px;
  height: 16px;
  background: #aaa;
  border-radius: 50%;
  transition: .2s;
  display: block;
}

/* line 428, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.inner {
  list-style-type: none;
}

/* line 431, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.up {
  margin-right: 20px;
  cursor: pointer;
}

/* line 435, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.commentlec {
  width: 100%;
}

/* line 439, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.other2 {
  width: 90%;
  margin: 30px auto 30px auto;
  border-bottom: 1px dashed black;
}

/* line 444, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.form-control {
  margin: 40px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 448, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.form-control:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 453, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ribbon-review2 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 30px 10px;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  background: #b7aa00;
}

/* line 466, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.ribbon-review2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid #b7aa00;
  border-right: 20px solid #b7aa00;
  border-bottom: 10px solid transparent;
}

/* line 477, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.booleanadjuster {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* line 482, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failaclass {
  margin: 20px auto 5px auto;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}

/* line 488, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* line 496, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass input[type='radio'] {
  display: none;
}

/* line 499, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass label {
  border: 1px solid #b7aa00;
  padding: 10px 20px;
  border-radius: 10px;
}

/* line 504, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  color: white;
  border: 1px dashed black;
  cursor: pointer;
}

/* line 511, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 514, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.failfailaclass input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  color: white;
  font-weight: bold;
  border: 1px double black;
}

/* line 520, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.assess-container2 {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 350px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 531, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.assess-container2 span {
  padding: 5px;
  /*margin: 20px 20px 0 20px;*/
}

/* line 535, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.attendance-assess {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  padding: 10px 10px 30px 10px;
  border-radius: 20px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 547, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance {
  margin-top: 5px;
}

/* line 550, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance input[type='radio'] {
  display: none;
}

/* line 553, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance li {
  list-style: none;
  text-align: left;
  margin-left: 50px;
}

/* line 559, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance label {
  padding: 10px 5px;
  border-radius: 10px;
}

/* line 563, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  cursor: pointer;
}

/* line 567, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-attendance input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  padding: 8px 3px;
  border: 2px double black;
}

/* line 572, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container {
  text-align: center;
  margin-bottom: 10px;
}

/* line 576, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container input[type='radio'] {
  display: none;
}

/* line 579, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container label {
  border: 1px solid #b7aa00;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px 10px;
}

/* line 585, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  color: white;
  border: 1px dashed black;
  cursor: pointer;
}

/* line 592, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 595, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.daihen-container input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  color: white;
  font-weight: bold;
  border: 1px double black;
}

/* line 602, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.test-assess {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  padding: 10px 10px 20px 10px;
  border-radius: 20px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 613, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 618, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container input[type='radio'] {
  display: none;
}

/* line 621, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container label {
  border: 1px solid #b7aa00;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px 10px;
}

/* line 627, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  color: white;
  border: 1px dashed black;
  cursor: pointer;
}

/* line 634, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* line 637, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.kakomon-container input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  color: white;
  font-weight: bold;
  border: 1px double black;
}

/* line 644, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-test {
  margin: 5px 10px;
  text-align: left;
}

/* line 648, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-test input[type='radio'] {
  display: none;
}

/* line 651, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-test label {
  padding: 10px 5px;
  border-radius: 10px;
}

/* line 655, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-test label:hover {
  background-color: rgba(183, 170, 0, 0.7);
  cursor: pointer;
}

/* line 659, /Users/ryota/Desktop/ynutree2/app/assets/stylesheets/tags/rateLec.css.scss */
.accordion-test input[type='radio']:checked ~ label {
  background-color: #b7aa00;
  padding: 8px 3px;
  border: 2px double black;
}
