
@media screen and (max-width:680px){
  #top{
    background-image: url('/forest.jpg');
    background-size: cover;
    width:100%;
    min-height: 110vh;
    position: absolute;
    z-index: 1;
    font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','HanziPen TC','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  }

  .top-image-mask{
    width: 100%;
    height: 110vh;
    background-color: rgba(0,0,0,0.3);
  }
  .header-home{
    display: none;
  }
  #header-smartphone{
    text-align: left;

    width:100%;

  }
  #header-smartphone span{
    color:white;
  }
  #howto-smartphone{

  }
  #howtobar-smartphone{
    padding: 15px 15px 10px 15px;
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
  }
  #howto{
    display: none;
  }
  .home-main{
    text-align: center;
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #welcome-smartphone{
    width: 85%;
    text-align: left;
    margin: 0 auto;
  }
  #welcome-smartphone h3{
    margin-bottom: 70px;
    text-align: center;
  }
  #welcome-smartphone h6{
    margin-top: 30px;
    margin-left: 40px;
  }
  #welcome-pc{
    display: none;
  }
  #showseachingprof{
    margin:40px 15px 15px 15px;
    padding: 15px 25px;
    align-self:center;
    background:transparent;
    color:white;
    font-size:1.7em;
    letter-spacing:1px;
    outline:none;
    border-radius: 255px 22px 225px 22px/22px 225px 22px 255px;
    border:solid 2px white;
  }
  #showseachinglec{
    margin:15px;
    padding: 15px 25px;
    align-self:center;
    background:transparent;
    color:white;
    font-size:1.7em;
    letter-spacing:1px;
    outline:none;
    border-radius: 255px 22px 225px 22px/22px 225px 22px 255px;
    border:solid 2px white;
  }
  #for-search-display0{
    width: 100%;
    height: 110vh;
    position: absolute;
    z-index: 2;
    display: none;
    background-color:rgba(0,0,0,0.9);
  }
  #search0{
    background-color:rgba(0,0,0,0.9);
    text-align: left;
    width: 100%;
    z-index: 5;
    min-height:110vh;
  }
  .howtobar-smartphone-close{
    font-size: 1.3em;
  }
  #menu-smartphone{
   margin: 150px auto 0px auto;
  }
  #mini-menu{
  position: relative;
  }
  #mini-menu:before{
  position: absolute;
  top: 11px;
  right: -50px;
  content: 'menu';
  color: white;
  font-size: 0.5em;

  }

  #to-about-ynu{
    display: none;
  }
  #menu-accordion-smartphone li{
    color:white;
    text-decoration: none;
    padding:20px 0;
    font-weight: lighter;
    list-style: none;
  }
  #menu-accordion-smartphone a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }
  #about-ynu{
    position: relative;
  }
  #about-ynu span{
  margin-left: 77px;
  font-size: 0.8em;
  }
  #about-ynu:before{
    position: absolute;
    top:-15px;
    left: 77px;
    content: " YNU Oficcial Sites";
    color:white;
    font-size: 1.8em;
    font-weight: lighter;
  }
  #to-about-ynu{
    margin: -20px 0 20px 0;
  }
  #to-about-ynu li{
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
  }
  #about-this-site{
    position: relative;
  }
  #about-this-site span{
  margin-left: 77px;
  font-size: 0.8em;
  }
  #about-this-site:before{
    position: absolute;
    top:-15px;
    left: 77px;
    content: " About";
    color:white;
    font-size: 1.8em;
    font-weight: lighter;
  }
  #howuse{
    position: relative;
  }
  #howuse span{
  margin-left: 77px;
  font-size: 0.8em;
  }
  #howuse:before{
    position: absolute;
    top:-15px;
    left: 77px;
    content: " How To Use";
    color:white;
    font-size: 1.8em;
    font-weight: lighter;
  }
  #about-opinion{
  position: relative;
}
#about-opinion span{
margin-left: 77px;
font-size: 0.8em;
}
#about-opinion:before{
  position: absolute;
  top:-15px;
  left: 77px;
  content: " Contact";
  color:white;
  font-size: 1.8em;
  font-weight: lighter;
}
#for-search-display2{
  display: none;
  width: 100%;
  height:100vh;
  position:absolute;
  top:0;
  left: 0;
  z-index: 200;
  color: white;
  font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
.search-box-smartphone{
width: 330px;
border-radius: 10px;
border: 2px solid black;
padding:5px 10px;
margin: 0 auto;
}
.search-button-smartphone{
  border-radius: 10px;
  border: 2px solid black;
  padding:5px 10px;
  margin-left: 270px;
  margin-top: 10px;
}
#seach-display2{
  width: 100%;
  min-height:110vh;
  background-image: url('/hometree2.jpg');
  background-size: cover;
}
.adjustprof2-smartphone{
  width: 100%;
}
#search-prof2{
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  min-height:110vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  z-index: 300;
}
.department-row{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#search-prof2 h1{
  margin-top: 60px;
}
.adjustprof2{
display: none;
}
#hiddenprof-search2{
  display: none;
  margin-bottom: -40px;
}

.accordion-for-profs2{
  width: 100%;
  margin-top: 30px;
}
.accordion-for-profs2 h2{
text-align: center;
margin-bottom: 30px;

}
.city-and-science1{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 50px;
}
.city-and-science2{
display: none;
}
.city-and-science3{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-bottom: 50px;
}
.city-and-science4{
display: none;
}

.accordion-prof-container2{
  display: none;
  list-style: none;
  width: 100%;
}
#fromkeyword2{
margin-top: 30px;
}


.switchofsearchprof-click2{
  color: rgba(183,170,0,1);

}

.accordion-prof-container2 span{
  height: 60px;
  padding: 0 30px;
}


.moreprofdepartment2 {
  display: none;
  list-style: none;
  margin: 0px auto 0 auto;
  width:95%;
  text-align: left;
}
.moreprofdepartment2 li{
  margin-bottom: 20px;
}
.moreprofdepartment2 a{
  padding:2px 20px 1px 0;
}
.moreprofdepartment2 a:hover{
background-color:  rgba(183,170,0,1);
border-radius: 10px;
}
.major-ul2 a{
  padding:2px 10px 1px 0;
  margin-left: 20px;
}
.major-ul2 a:hover{
  background-color: rgba(183,170,0,1);
}
.liprof2{
  position: relative;
}
.liprof2:after{
position: absolute;
font-family: "Font Awesome 5 Free";
content: "\f078";
right: 10px;
top:0px;
font-weight: 900;
color: white;
}
.liprof2:after:hover{
  cursor: pointer;
}
.moreprofdepartment2 a:hover{
text-decoration: none;
}
.major-ul2{
  display: none;
  list-style: none;
}
#closesearch2{
  position: absolute;
  z-index: 400;
  top: 20px;
  left: 20px;
  color: whtie;
  font-size: 1.3em;
}

#search-prof2 a{
  color: white;
}



#for-search-display3{
  width: 100%;
  height:100vh;
  position:absolute;
  top:0;
  left: 0;
  z-index: 200;
  display:none;
  color: white;
  font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
#seach-display3{
  width: 100%;
  min-height:110vh;
  background-image: url('/trunk1.jpg');
  background-size: cover;

}
#search-lec{
  width: 100%;
  min-height:110vh;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  z-index: 300;
}
#search-lec h1{
  margin-top: 60px;
}
#search-lec a{
  color: white;
}

.adjustlec-smartphone{
  display: block;
}
.adjustlec{
  display: none;
}

#hiddenlec-search{
  display: none;
  margin-bottom: -30px;
}
.accordion-for-lecs{
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.accordion-for-lecs h2{
text-align: center;
margin-bottom: 30px;

}
.accordion-lec-container{
  display: none;
  list-style: none;
}
#fromkeyword3{
margin-top: 30px;
}

.accordion-lec-container span{
  height: 60px;
  padding: 0 30px;
}
.morelecdepartment{
  display: none;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  width: 95%;
}
.morelecdepartment a{
  padding:2px 20px 1px 0;
}
.morelecdepartment li{
  margin-bottom: 20px;
}
.major-ul3 a{
  padding:2px 10px 1px 0;
  margin-left: 20px;
}
.major-ul3 a:hover{
  background-color: rgba(183,170,0,1);
}
.lilec{
  position: relative;
}
.lilec:after{
position: absolute;
font-family: "Font Awesome 5 Free";
content: "\f078";
right: 10px;
top:0px;
font-weight: 900;
color: white;
}
.lilec:after:hover{
  cursor: pointer;
}
.morelecdepartment a:hover{
text-decoration: none;
}
.major-ul3{
  display: none;
  list-style: none;
}
#closesearch3{
  position: absolute;
  z-index: 400;
  top: 20px;
  left: 20px;
  color: whtie;
  font-size: 1.3em;
}
#closesearch3:hover{
  cursor: pointer;
  color: #FFF566;
}


}



/*-----------------------------------------------------------PC用-------------------------------------------------------------------------*/
@media screen and (min-width:680px){
#top{
  background-image: url('/forest.jpg');
  background-size: cover;
  width:100%;
  height: 130vh;
  position: absolute;
  z-index: 1;
  font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','HanziPen TC','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
.top-image-mask{
  width: 100%;
  height: 130vh;
  background-color: rgba(0,0,0,0.3);
}
#for-search-display0{
  display: none;
}
#header-smartphone{
display: none;
}

.header-home{
  color:white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tohome{
  color: white;
}
.header-home-first{
  height:60px;
  width: 120px;
  margin-left: 100px;

}
.sitetitle{
  line-height: 70px;
  color: white;
  position: relative;
}
.toHome:hover{
  text-decoration: none;

}
.sitetitle:before{
  content: url("/mori.png");
  position: absolute;
  top:7px;
  left: -60px;
}
.header-home-second{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 70px;
margin-right: 50px;
}
.header-home-second span{
  height: 60px;
  position: relative;
  padding: 0 30px;
}
.header-home-second span:after{
 position: absolute;
 bottom: -8px;
 left: 0;
 content: '';
 width: 100%;
 height: 2px;
 background: white;
 transform: scale(0, 1);
 transform-origin: center top;
 transition: transform .3s;
}
.header-home-second span:hover:after{
 transform: scale(1, 1);
 cursor: pointer;
}
.header-home-second a{
  color: white;
  line-height: 70px;

}
.header-home-second a:hover{
  text-decoration: none;
  font-weight: bold;
}
.home-main{
  text-align: center;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
#howto{
  top:50px;
  left:100px;
  text-align: center;
  position: absolute;
  top:5px;
  left:40px;
}

.barbar:hover{
  cursor: pointer;
  font-weight: bold;
}
#howtobar{
  color:white;
  margin: 5px 0px;
  width: 264px;

}
.howtomenu{
  padding: 5px 10px;
  border-bottom: 1px solid white;
}
#howtoaccordion2:first-child{
  border-top: 1px solid white;
}
.howtomenu:hover{
  background-color: rgba(255,255,255,0.5)
}

#howtoaccordion2{
  display: none;
}
#howtoaccordion2 a{
  color: white;
}
#howtoaccordion2 a:hover{
  text-decoration: none;
}
#howtoaccordion li{
  list-style: none;
}
#howtoaccordion{
text-align: left;

}
#howtoaccordion:last-child{
  margin-bottom: -1px;
}
#welcome-smartphone{
display: none;
}
#welcome-pc{
  display: block;
}
.home-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.totree{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
}
#showseachingprof{
  margin: 0 20px;
  padding: 20px 40px;
  align-self:center;
  background:transparent;
  color:white;
  font-size:2rem;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 22px 225px 22px/22px 225px 22px 255px;
  border:solid 2px white;
}
#showseachingprof:hover{
text-decoration: none;
font-weight: bold;
cursor: pointer;
}
#showseachinglec{
  margin: 0 20px;
  padding: 20px 40px;
  align-self:center;
  background:transparent;
  color:white;
  font-size:2rem;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 22px 225px 22px/22px 225px 22px 255px;
  border:solid 2px white;
}
#showseachinglec:hover{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

#for-search-display2{
  width: 100%;
  height:130vh;
  position:absolute;
  top:0;
  left: 0;
  z-index: 200;
  display: none;
  color: white;
  font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
#seach-display2{
  margin: 10% auto 0 auto;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgba(0,0,0,0.3);
  background-image: url('/hometree.jpg');
  background-size: cover;

}
#search-prof2{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  z-index: 300;
}

#search-prof2 h1{
  margin-top: 60px;
}
.adjustprof2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:20px;
}
#hiddenprof-search2{
  display: none;
}
.accordion-for-profs2{
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.accordion-for-profs2 h2{
text-align: center;
margin-bottom: 30px;

}
.accordion-prof-container2{
  display: none;
  list-style: none;
  width: 100%;
}
#fromkeyword2{
margin-top: 30px;
}
#fromkeyword2:hover{
  cursor: pointer;
  color: #FFF566;
}
.switchofsearchprof2:hover{
  cursor: pointer;
  color: #FFF566;
}
.switchofsearchprof-click2{
  color: #FFF566;

}

.accordion-prof-container2 span{
  height: 60px;
  padding: 0 30px;

}

.accordion-prof-container2 span:hover{
  cursor:pointer;
  color:#FFF566;
}
.moreprofdepartment2 {
  display: none;
  list-style: none;
  margin-top: 30px;
  text-align: left;
}
.moreprofdepartment2 a{
  padding:2px 20px 1px 0;
}
.moreprofdepartment2 a:hover{
background-color:  rgba(183,170,0,1);
border-radius: 10px;
}
.major-ul2 a{
  padding:2px 10px 1px 0;
  margin-left: 20px;
}
.major-ul2 a:hover{
  background-color: rgba(183,170,0,1);
}
.liprof2{
  position: relative;
}
.liprof2:after{
position: absolute;
font-family: "Font Awesome 5 Free";
content: "\f078";
right: 120px;
top:0px;
font-weight: 900;
color: white;
}
.liprof2:after:hover{
  cursor: pointer;
}
.moreprofdepartment2 a:hover{
text-decoration: none;
}
.city-and-science1{
  display: none;
}
.city-and-science2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.city-and-science3{
  display: none;
}
.city-and-science4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.major-ul2{
  display: none;
  list-style: none;
}
#closesearch2{
  position: absolute;
  z-index: 400;
  top: 20px;
  left: 20px;
  color: whtie;
  font-size: 1.3em;
}
#closesearch2:hover{
  cursor: pointer;
  color: #FFF566;
}
#search-prof2 a{
  color: white;
}
#search-prof2 a:hover{
  color: #FFF566;
  text-decoration: none;
  cursor: pointer;
}
#for-search-display3{
  width: 100%;
  height:130vh;
  position:absolute;
  top:0;
  left: 0;
  z-index: 200;
  display:none;
  color: white;
  font-family: 'Avenir','Comic Sans MS','Arial','Yu Gothic UI','ＭＳ ゴシック','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
#seach-display3{
  margin: 10% auto 0 auto;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgba(0,0,0,0.3);
  background-image: url('/trunk1.jpg');
  background-size: cover;

}
#search-lec{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  z-index: 300;
}
#search-lec h1{
  margin-top: 60px;
}
#search-lec a{
  color: white;
}
#search-lec a:hover{
  color: white;
  text-decoration: none;
  cursor: pointer;
  color: #FFF566;
}
.adjustlec-smartphone{
  display: none;
}
.adjustlec{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:20px;
}
#hiddenlec-search{
  display: none;
}
.accordion-for-lecs{
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.accordion-for-lecs h2{
text-align: center;
margin-bottom: 30px;

}
.accordion-lec-container{
  display: none;
  list-style: none;
}
#fromkeyword3{
margin-top: 30px;
}
#fromkeyword3:hover{
  cursor: pointer;
  color: #FFF566;
}
.switchofsearchlec:hover{
  cursor: pointer;
  color: #FFF566;
}
.switchofsearchlec-click3{
  color: #FFF566;

}

.accordion-lec-container span{
  height: 60px;
  padding: 0 30px;
}

.accordion-lec-container span:hover{
  cursor:pointer;
  color:#FFF566;
}
.morelecdepartment{
  display: none;
  list-style: none;
  margin-top: 30px;
}
.morelecdepartment a{
  padding:2px 20px 1px 0;
}
.morelecdepartment a:hover{
background-color:  rgba(183,170,0,1);
border-radius: 10px;
}
.major-ul3 a{
  padding:2px 10px 1px 0;
  margin-left: 20px;
}
.major-ul3 a:hover{
  background-color: rgba(183,170,0,1);
}
.lilec{
  position: relative;
}
.lilec:after{
position: absolute;
font-family: "Font Awesome 5 Free";
content: "\f078";
right: 120px;
top:0px;
font-weight: 900;
color: white;
}
.lilec:after:hover{
  cursor: pointer;
}
.morelecdepartment a:hover{
text-decoration: none;
}
.major-ul3{
  display: none;
  list-style: none;
}
#closesearch3{
  position: absolute;
  z-index: 400;
  top: 20px;
  left: 20px;
  color: whtie;
  font-size: 1.3em;
}
#closesearch3:hover{
  cursor: pointer;
  color: #FFF566;
}
}
