<head>
  <%= stylesheet_link_tag "bases/opinions", :media => "all" %>
</head>
<section id="options">
<div class="mainmain">
  <h1>意見質問</h1>
  <h2>情報の削除依頼や、実装してほしい機能などがあったらこちらまで！</h2>
   <div style="margin:30px auto 0 auto;">
     <h4>opinions-for-ynuforest@gmail.com</h4>
  </div>
</section>
